<section id="about-us" class="about-us">
  <div class="text-centered">
    <img src="{{ site.baseurl }}/img/chamber_logo_bw.jpg" alt="">
    <h2 class="lead-statement">Proudly affiliated with the Fayette County Chamber of Commerce, FYPN is the premiere organization for connecting, supporting, and growing Fayette County's young professional population!</h2>
    <p class="lead-statement">We accomplish our goals through regular casual meetings, professional networking and enrichment events, and by supporting the next generation of Fayette County's workforce.</p>
  </div>
</section>
