<section id="activities" class="activities text-centered">
	<h2>Our Activities</h2>
	<div class="container-activities">
		<div class="activity">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-building fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Activity #1</strong></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="activity">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-building fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Activity #2</strong></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="activity">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-building fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Activity #3</strong></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
	</div>
</section>