<section id="members" class="members text-centered">
	<h2>Active Members</h2>
	<hr class="horz-bar">
	<p class="member-statement">FYPN's member represent a broad array of industries and fields ipsum dolor sit amet, consectetur adipisicing elit. Eos animi labore architecto autem asperiores accusantium sint</p>
	<div class="container-members">
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #1</strong></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #2</strong></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #3</strong></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #4</strong></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #5</strong></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #6</strong></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #7</strong></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #8</strong></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #9</strong></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="member">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-user fa-stack-1x text-icons"></i>
			</span>
			<h4><strong>Member #10</strong></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		</div>
	</div>
</section>