The Fayette Young Professionals Scholarship Fund benefits graduating high school seniors from

Fayette County high schools who plan to attend post-secondary institutions. The goal of the

Fayette Young Professionals Network’s (FYPN) scholarship is to enable students to further their

education while encouraging them to later return to their hometown to make a positive impact as

productive citizens.

The group’s outreach efforts focus on school-age children, showing them opportunities for their

future, and that they too can be young, successful leaders who represent opportunity and

prosperity in southwestern Pennsylvania. Through FYPN’s scholarship program, the group

promotes education and skilled training, while combating brain drain.

The mission of FYPN, a Fayette Chamber of Commerce program, is to enhance professional

development opportunities for area young professionals (ages 21 – 40) through networking,

volunteering, and creating positive change in their local communities.